img {
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    width: 115px;
}
#Result {
    margin-left: 70%;
    margin-top: 0.5%;
    font-size: 30px;

}
#Enemy{
    margin-left: 5%;

}
#Player{
    margin-left: 5%;
}

header {
    background-color: burlywood;
    padding: 13px;
    text-align: center;
}
body {
    background-color: brown;
}

.marker {

    border: 3px solid burlywood;
    margin: 20px auto;
    width: 200px;
    position: relative;
    padding:15px 20px ;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
}

.user {
    padding-left: 40px;
    color: burlywood;
}

.computer{
    padding-left: 40px;
    color: burlywood;
}

h2 {
    padding-left: 40px;
    color: black;
}

#Player {
    padding-left: 40px;
    color: black;
}


#Enemy {
    padding-left: 40px;
    color: black;
}